:root {
    --primary-color: #1d1f21;
    --nav-color: #c5c8c6;
    --nav-background: #292c2eb7;
    --code-color: #1d1f218a;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--primary-color);
    color: whitesmoke;
    font-family: 'Gill Sans MT', Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

a {
    background-color: var(--nav-background);
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
}

.nav-bar > ul > li > a:hover {
    color: #1e64b6;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid #c5c8c6;
    text-align: left;
    padding: 8px;
}

h2 {
    font-size: 21px;
    padding: 1em 0 .25em 0;
}

p {
    font-size: 18px;
    padding-top: .5em;
    padding-bottom: .25em;
}

section {
    display: grid;
    background-color: var(--primary-color);
    padding: 1em;
}

section > ul, ol {
    margin-left: 25px;
}

nav {
    grid-area: nav;
    justify-self: start;
    background-color: var(--nav-background);
    overflow: hidden;
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 175px;
    height: 100%;
    min-width: 100px;
    padding: 1em;
}

nav > ul {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    grid-gap: 3em;
    padding: 3m;
    list-style-type: none;
}

code {
    background-color: var(--code-color);
    font-size: 14px;
}

blockquote {
    padding: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    padding-bottom: 2em;
    grid-template-areas: 
    "header header"
    "main-doc main-doc";
    justify-items: center;
    align-items: center;
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img-text {
    color: whitesmoke;
    text-align: left;
    margin-right: 500px;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    font-size: 35px;
    width: 75%;
    height: 75%;
    transition: 0.75s;
    padding: 1em;
    margin: 0;
}

#main-doc {
    grid-area: main-doc;
    width: 50%;
}

#rplot {
    max-width: 100%;
    padding: 1em 0 1em 0;
}

@media screen and (max-width: 1253px) {
    .nav-bar {
        display: none;
    }

    #header > img {
        width: 300px;
        height: 300px;
    }

    #header > #img-text {
        font-size: 25px;
        margin-right: 350px; 
    }
}

@media screen and (max-width: 500px) {
    #header > img {
        width: 50%;
        height: 50%;
    }

    #header > #img-text {
        font-size: 25px;
        margin-right: 350px; 
    }
}
